.footer {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    padding: 35px 0;
}